.calculator{
    height: 353px;
    width: 280px;
    background-color: rgb(235, 229, 229);
    margin: 0px auto;
    margin-top: 50px;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
}
input[type="text"]{
     font-family: 'Orbitron', sans-serif;
     font-size: 1.5em;
}
.main-bar{
    margin-bottom: 20px;
    text-align: right;
}
.btn{
    font-size: 20px;
    cursor: pointer;
    width: 60px;
}
.line{
    margin-bottom: 10px;
}
